body 
{
    font-family: cursive;
}

h1 
{ 
    text-align : center;
    font-style: oblique;
}

h2, h3
{
    text-align: left;
    font-style: oblique;
    font-size: 120%;
    
}

