body
{
    background-image: url(img/feest-background.jpg)
    
}
<style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: blue;
            }

        li {
            background-color: skyblue;
            display: inline;
        }
        li a {
            display: inline;
            color: #111;
            text-align: center;
            padding: 1% 2%;
            text-decoration: none;
            float: left;
            background-color: beige;
            font-size: 125%
            }

        li a:hover {
            background-color: cadetblue;
            }
</style>

h1, h2, p
{
    text-align : center;
    font-style: oblique;
    color: white;
}




